*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
    height: 50px;
}
.userName{
    padding-top: 16px;
    text-align: center;
    color: white;
}
.line{
    width: 150px;
    margin-left: 20%;
}